:root {
    --color-yellow: #ffda00;
    --color-blue: #043767;
    --color-blue-dark: #012343;
    --color-font: #dddddd;
}
html, body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-blue);
    font-family: Arial, Helvetica, sans-serif;
    image-rendering: pixelated;
}

body {
    overflow: hidden;
    max-width: 640px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    background-color: var(--color-blue-dark);
}

label {
    position: fixed;
    top: 10px;
    left: 10px;
    color: var(--color-yellow);
    font-size: 14px;
}
button {
    border: none;
    background-color: transparent;
    width: 64px;
    height: 64px;
    color: var(--color-yellow);
    font-size: 32px;
    cursor: pointer;
}
button:focus {
    outline: none;
}

svg {
    fill: var(--color-yellow);
}

#controls {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
}
.lft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 64px;
}